[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "attention"]
	path = attention
	url = https://github.com/bquast/attention
	shallow = true
	registered = true
[submodule "datasets.load"]
	path = datasets.load
	url = https://github.com/bquast/datasets.load
	shallow = true
	registered = true
[submodule "decompr"]
	path = decompr
	url = https://github.com/bquast/decompr
	shallow = true
	registered = true
[submodule "diagonals"]
	path = diagonals
	url = https://github.com/bquast/diagonals
	shallow = true
	registered = true
[submodule "gvc"]
	path = gvc
	url = https://github.com/bquast/gvc
	shallow = true
	registered = true
[submodule "HEtools"]
	path = HEtools
	url = https://github.com/bquast/hetools
	shallow = true
	registered = true
[submodule "HomomorphicEncryption"]
	path = HomomorphicEncryption
	url = https://github.com/bquast/homomorphicencryption
	shallow = true
	registered = true
[submodule "learNN"]
	path = learNN
	url = https://github.com/bquast/learnn
	shallow = true
	registered = true
[submodule "rddtools"]
	path = rddtools
	url = https://github.com/bquast/rddtools
	shallow = true
	registered = true
[submodule "rnn"]
	path = rnn
	url = https://github.com/bquast/rnn
	shallow = true
	registered = true
[submodule "sigmoid"]
	path = sigmoid
	url = https://github.com/bquast/sigmoid
	shallow = true
	registered = true
[submodule "transformer"]
	path = transformer
	url = https://github.com/bquast/transformer
	shallow = true
	registered = true
