[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HEtools"]
	path = HEtools
	url = https://github.com/bquast/hetools
[submodule "HomomorphicEncryption"]
	path = HomomorphicEncryption
	url = https://github.com/bquast/homomorphicencryption
[submodule "attention"]
	path = attention
	url = https://github.com/bquast/attention
[submodule "datasets.load"]
	path = datasets.load
	url = https://github.com/bquast/datasets.load
[submodule "decompr"]
	path = decompr
	url = https://github.com/bquast/decompr
[submodule "diagonals"]
	path = diagonals
	url = https://github.com/bquast/diagonals
[submodule "gvc"]
	path = gvc
	url = https://github.com/bquast/gvc
[submodule "locpol"]
	path = locpol
	url = https://github.com/bquast/locpol
[submodule "rddtools"]
	path = rddtools
	url = https://github.com/bquast/rddtools
[submodule "rnn"]
	path = rnn
	url = https://github.com/bquast/rnn
[submodule "sigmoid"]
	path = sigmoid
	url = https://github.com/bquast/sigmoid
[submodule "transformer"]
	path = transformer
	url = https://github.com/bquast/transformer
